@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap:100, 200, 300, 400, 500, 600, 700');

/*--------------------------------------------Colors*/



/*--------------------------------------------Heading*/

header, footer {
    margin: 0;
    background-color: #51a4e3; /* #1d7fcf; */
    color: #d4e3f2;
}

footer > div{
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-size: 20px;
    text-align: center;
    color: #d4e3f2; 
}


.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
    min-height: 60px;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
}

#nav li {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 10px;  
    margin-bottom: 10px;
    text-align: center;

}

#nav span {
    color: #d4e3f2;
} 

#nav {
    margin: 0;
}

  
.page-title h1 {
    padding-top: 10px;
    text-align: center;
}

.container {
    padding: 10px 0;
    background-color: #d4e3f2;

}

/*
.container:not(:last-child) {
    margin-right: 10px;

}
*/

#button1, #button2, #button3, #button4 {
    margin-top: 10px;
    margin-bottom: 10px;
}


.callout-container {
    height: 100vh;
    background: url("../images/deansgrange1.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content:center;
    position: relative;
}

.introduction {
    color: #d4e3f2;
    text-align: center;
    height: 560px;
}


/*

.logo {
    background: url("../images/logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    min-height: 60px;
    background-color: #1d7fcf;
}

*/

/*
.heading {
    margin-left: 50px;
}

*/

/*

.page-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 28px;
    color: #0f68b7;
    background-color: #8bc4ec;
    min-height: 60px;
    width: auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
}
*/