@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap:100, 200, 300, 400, 500, 600, 700');

html {
  scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #51a4e3;
}

/*-------------------Header, nav-------------------------*/

.navbar {
    background-color: #51a4e3;
}

.navbar-brand {
    font-weight: 200;
    font-size: 28px;
    color: #d4e3f2 !important;
}

.navbar-brand:hover {
    color: #d4e3f2  !important;
}

.nav-link {
    font-size: 20px;
}

/*-------------------Introduction-------------------------*/

.welcome > h2 {
    text-align: center;
    color: #116bba;
    position: absolute;
    top: 25%;
}

.first_background_photo {
    color: #d4e3f2;  
    height: 100vh;
    background: url("../images/Deansgrangephoto2.jpg") no-repeat center fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content:center;
    position: relative;
}

/*-------------------Books-------------------------*/

#books {
    margin: 0;
    background-color: #51a4e3;
}

#books h2 {
    color: #d4e3f2; 
    text-align: center;
}

.card {
    background-color: #51a4e3;
}

.card-body {
    color: #d4e3f2;  
}

.btn-light {
    color: #116bba;
}

/*-------------------Gallery-------------------------*/

.jumbotron {
    margin: 0;
}

#gallery {
    margin: 0;
    background-color: #51a4e3;
}

#gallery h2 {
    color: #d4e3f2; 
    text-align: center;
}


.second_background_photo {
    color: #d4e3f2;  
    height: 100vh;
    background: url("../images/Deansgrangephoto3.jpg") no-repeat center fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content:center;
    position: relative;
}

/*-------------------Contact us-------------------------*/

#contactform {
    background-color: #51a4e3;
    margin: 20px auto;
    padding: 20px;
    color: #d4e3f2;  
}

#contactform h2 {
    color: #d4e3f2; 
    text-align: center;
}

.third__background_photo {
    height: 100vh;
    background: url("../images/Deansgrangephoto1.jpeg") no-repeat center fixed;
    background-color: #51a4e3;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

/*-------------------Footer-------------------------*/

footer  {
    font-weight: 100;
    font-size: 20px;
    color: #d4e3f2;  
    background-color: #51a4e3;
    text-align: center;
    margin: 0;
}
